<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="/css/chat.css">

</head>
<body>
    <div class="container"></div>
        <div class="chat-box">
            <header>
                <h2>Chat App</h2>
            </header>
            <div id="messages" class="messages"></div>
            <div class="input-container">
                <input type="text" id="messageInput" placeholder="Type a message..." autocomplete="off">
                <button id="mapicon">
                    <img src="/map.png" alt="Map Icon" style="width: 24px; height: 24px;">
                </button>
                <button id="sendButton">Send</button>
            </div>
        </div>
    </div>
    
    
        
    
  
    
   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/scriptchat.js"></script>
</body>
</html>